.fade-up {
  animation: fadeUp 0.25s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-left {
  animation: fadeLeft 0.5s;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fade-in {
  animation: fadeIn 0.25s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.highlight {
  animation: highLight 1.25s;
  animation-fill-mode: forwards;
}

@keyframes highLight {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
